body {
    line-height: 2;
    background-color: black;
}

.plot {
    background-color: rgb(11, 97, 44);
    border-width: 1px;
    border-color: white;
    border-style: solid;
    height: 400px;
    background-image:url('./img/land.png');
    background-repeat: repeat;
}
.road-right {
    border-right-width: 1px;
    border-right-color: gray;
}

.road-left {
    border-left-width: 1px;
    border-left-color: gray;
}

.road-top {
    border-top-width: 1px;
    border-top-color: gray;
}

.road-bottom {
    border-bottom-width: 1px;
    border-bottom-color: gray;
}

.badge {
    margin-top: 5px
}

.toolbar {
    right: 15px;
    bottom: 7px;
    position: absolute;
}

.text-center {
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.header {
    background-color: transparent;
   
}

.text-left {
    text-align: left;
}

.full-width {
    width: 100%;
}

.landing {
    margin: 200px;
    

}